<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
   
    </style>
</head>


<body>
    <p> <a href="/dashboard">Dashboard</a><a href="/logout">Logout</a></p>
   
    <h1>Posts by {{quote.addedby.name}}</h1>
    
    <p> {{quote.addedby.alias}}: {{quote.title}}</p>
    <p> </p>
    
      
    
</body>
</html>